# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: bca4b5e9e29f615ebced6d87de05c693ea6942027dde3f5d5ee26ef8265e7e7925c58e138f4950c0f0f74f6d121179dbb3acff4130b61c28a3363c92f41ffffc

test:
  secret_key_base: c6c55720755321af0aa3f142aaf141c9a3b4cdf212b95042e5595248a899e294e7cece603a46e5d0c98902a75b579f86271da88f5b62abd311ff3731fe730229

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
